---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// color
// http://adobe.ly/1iZpp9G

// font
//

// Our variables
$base-font-family : 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, '游ゴシック', YuGothic, sans-serif;
$base-font-size   : 16px;
$base-font-weight : 400;
$small-font-size  : $base-font-size * 0.875;
$base-line-height : 1.5;

$spacing-unit     : 30px;

$link-color       : #183E71;
$text-color       : #0D203F;
$background-color : #fff;
$brand-color      : #2a7ae2;
$accent-color     : #F3363D;

$border-color     : #D7BD9C;

$grey-color       : #828282;
$grey-color-light : lighten($grey-color, 40%);
$grey-color-dark  : darken($grey-color, 25%);

// Width of the content area
$content-width    : 800px;

$on-palm          : 600px;
$on-laptop        : 800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
