---
layout: default
---
<div class="posts">
  {% for post in site.posts %}
    <article class="posts-item" itemscope itemtype="http://schema.org/BlogPosting">
      <header class="posts-item-header">
        <time class="posts-item-date montserrat_alternates" datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
          <span class="posts-item-date-day">{{ post.date | date: "%-d"}}</span>
          <span class="posts-item-date-month-year">{{ post.date | date: "%b, %Y"}}</span>
        </time>
        <h1 class="posts-item-title" itemprop="name headline"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h1>
      </header>
      <div class="posts-item-tags">
        {% comment %}
        {% for category in post.categories %}
          <span class="posts-item-category">{{ category }}</span>
        {% endfor %}
        {% endcomment %}
      </div>
      <div class="posts-item-excerpt">{{ post.excerpt | strip_html }}<a href="{{ post.url | prepend: site.baseurl }}">...続きを見る</a></div>
    </article>
  {% endfor %}
</div>
